extends layout

block content
  h1= title
  h2 Select your query

  div(class="flex-container1")
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All instructors TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All students TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All courses TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All books TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All y'all TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All day TEMP

  div(class="flex-container2")
    ul
      li
        form(action="/users/all", method="post")
          label(for="all") all
          input(type="text", name="all")
          input(type="submit", class="waves-effect waves-light btn", style="color:red;")
      li
        form(action="/users/department", method="post")
          label(for="department") Department
          input(type="text", name="department")
          input(type="submit", class="waves-effect waves-light btn", style="color:red;")
      li
        form(action="/users/student1", method="post")
          label(for="student1") Student1
          input(type="text", name="student1")
          input(type="submit", class="waves-effect waves-light btn", style="color:red;")
      li
        form(action="/users/student2", method="post")
          label(for="student2") Student2
          input(type="text", name="student2")
          input(type="submit", class="waves-effect waves-light btn", style="color:red;")


  div(class="flex-container3")
    ul
      li
        form(action="/users/TEMP1", method="post")
          label(for="TEMP1") TEMP1
          input(type="text", name="TEMP1")
          input(type="submit", class="waves-effect waves-light btn")
      li
        form(action="/users/TEMP2", method="post")
          label(for="TEMP2") TEMP2
          input(type="text", name="TEMP2")
          input(type="submit", class="waves-effect waves-light btn")
      li
        form(action="/users/TEMP3", method="post")
          label(for="TEMP3") TEMP3
          input(type="text", name="TEMP3")
          input(type="submit", class="waves-effect waves-light btn")
      li
        form(action="/users/TEMP4", method="post")
          label(for="TEMP4") TEMP4
          input(type="text", name="TEMP4")
          input(type="submit", class="waves-effect waves-light btn")

  a(href="/users/student1/destroy", class="waves-effect waves-light btn", style="color:red;") Destroy1
  br
  a(href="/users/student2/destroy", class="waves-effect waves-light btn", style="color:red;") Destroy2
    
  h2 Users
  ul
  each user in users
    li
      = user.student_id + " " + user.first_name + " " + user.last_name + " " + user.student_email + " " +user.student_department
