h1 {
  font-family: 'VT323', monospace;
}

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #FAFAFA;
}

.flex-container1 {
  
  align-content: flex-start;
  padding: 40;
  margin: 70;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;

  justify-content: space-evenly;
  
}
.flex-container2 {
 
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  width: 30%;
  overflow: hidden;
}
